<div [formGroup]="group">
  <div class="row">
    <div class="col-6">
      <label for="nom" class="form-label">Nom</label>
      <input class="form-control" id="nom" formControlName="nom" />
    </div>
    <div class="col-6">
      <label for="prenom" class="form-label">Prénom</label>
      <input class="form-control" id="prenom" formControlName="prenom" />
    </div>
  </div>
</div>
