<div
  class="hand header"
  (click)="isCollapsed = !isCollapsed"
  [attr.aria-expanded]="isCollapsed"
>
  <i [hidden]="!isCollapsed" class="bi bi-caret-right-fill fleche"></i>
  <i [hidden]="isCollapsed" class="bi bi-caret-down-fill fleche"></i>
  <ng-content select="[collapseTitle]"></ng-content>
</div>
<div class="content" [hidden]="isCollapsed">
  <ng-content select="[collapseContent]"></ng-content>
</div>
