<form #demoForm="ngForm" (submit)="submit()">
  <div class="alert alert-danger" role="alert" *ngIf="demoForm.invalid">
    <app-form-control-errors
      [name]="'Siren'"
      [errors]="demoForm.controls['siren'].errors"
    ></app-form-control-errors>
    <app-form-control-errors
      [name]="'Nic'"
      [errors]="demoForm.controls['nic'].errors"
    ></app-form-control-errors>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="siren" class="form-label">Siren</label>
      <input
        class="form-control"
        id="siren"
        aria-describedby="sirenHelp"
        name="siren"
        [(ngModel)]="formModel.siren"
        required
      />
      <div id="emailHelp" class="form-text">siren help</div>
    </div>
    <div class="col-6">
      <label for="nic" class="form-label">NIC</label>
      <input
        class="form-control"
        id="nic"
        name="nic"
        [(ngModel)]="formModel.nic"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input
        class="form-control"
        id="dateDebut"
        ngbDatepicker
        #dateDebut="ngbDatepicker"
        name="dateDebut"
        (click)="dateDebut.open()"
        [(ngModel)]="formModel.dateDebut"
        required
      />
    </div>
    <div class="col-6">
      <label for="dateFin" class="form-label">Date de fin</label>
      <input
        class="form-control"
        id="dateFin"
        name="dateFin"
        ngbDatepicker
        #dateFin="ngbDatepicker"
        (click)="dateFin.open()"
        [(ngModel)]="formModel.dateFin"
        [required]="formModel.dateFinObligatoire"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="dateFinObligatoire"
          name="dateFinObligatoire"
          [(ngModel)]="formModel.dateFinObligatoire"
        />
        <label class="form-check-label" for="dateFinObligatoire"
          >Rendre date de fin obligatoire</label
        >
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
