<fieldset class="border p-2" *ngIf="formDebug">
  <h6>Débug formulaire</h6>

  <app-collapse-fleche>
    <span collapseTitle>Status</span>
    <div collapseContent>
      <ul>
        <li>Status : {{ formDebug.status }}</li>
        <li>Touched : {{ formDebug.touched }}</li>
        <li>Pristine : {{ formDebug.pristine }}</li>
        <li>Errors : {{ formDebug.errors | json }}</li>
      </ul>
    </div>
  </app-collapse-fleche>

  <app-collapse-fleche>
    <span collapseTitle>Controls</span>
    <div collapseContent>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Status</th>
            <th>Pristine / touched</th>
            <th>Errors</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let key of controlKeys">
            <td>{{ key }}</td>
            <td>{{ formDebug.controls[key].value }}</td>
            <td>{{ formDebug.controls[key].status }}</td>
            <td>
              {{ formDebug.controls[key].pristine }} /
              {{ formDebug.controls[key].touched }}
            </td>
            <td>{{ formDebug.controls[key].errors | json }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-collapse-fleche>
</fieldset>
