<form [formGroup]="demoForm" (submit)="submit()">
  <div
    class="alert alert-danger"
    role="alert"
    *ngIf="demoForm.invalid && submitted"
  >
    <app-form-control-errors
      [name]="'Siren'"
      [errors]="demoForm.get('siren')?.errors"
    ></app-form-control-errors>
    <app-form-control-errors
      [name]="'Nic'"
      [errors]="demoForm.get('nic')?.errors"
    ></app-form-control-errors>
    <app-form-control-errors
      [name]="'Nom'"
      [errors]="demoForm.get('sousform')?.get('nom')?.errors"
    ></app-form-control-errors>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="siren" class="form-label">Siren</label>
      <input
        class="form-control"
        id="siren"
        aria-describedby="sirenHelp"
        formControlName="siren"
      />
      <div id="emailHelp" class="form-text">siren help</div>
    </div>
    <div class="col-6">
      <label for="nic" class="form-label">NIC</label>
      <input class="form-control" id="nic" formControlName="nic" />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="siren" class="form-label">Effectif Total</label>
      <input
        class="form-control"
        id="effectifTotal"
        formControlName="effectifTotal"
      />
    </div>
    <div class="col-6">
      <label for="nic" class="form-label">EffectifAssurable</label>
      <input
        class="form-control"
        id="effectifAssurable"
        formControlName="effectifAssurable"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input
        class="form-control"
        id="dateDebut"
        ngbDatepicker
        #dateDebut="ngbDatepicker"
        (click)="dateDebut.open()"
        formControlName="dateDebut"
      />
    </div>
    <div class="col-6">
      <label for="dateFin" class="form-label">Date de fin</label>
      <input
        class="form-control"
        id="dateFin"
        ngbDatepicker
        #dateFin="ngbDatepicker"
        (click)="dateFin.open()"
        formControlName="dateFin"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="dateFinObligatoire"
          formControlName="dateFinObligatoire"
        />
        <label class="form-check-label" for="dateFinObligatoire"
          >Rendre date de fin obligatoire</label
        >
      </div>
    </div>
  </div>
  <app-sous-formulaire
    (formReady)="addChildForm('sousform', $event)"
  ></app-sous-formulaire>
  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="truc()">Load</button>
  </div>
</form>
<app-debug-reactive-form
  [form]="demoForm"
  [name]="'main'"
></app-debug-reactive-form>
